<!-- Footer -->
<footer class="row">
  <div class="two columns"> </div>
  <div class="eight columns border-top-normal">
      <div class="row">
        <div class="twelve columns ">
          <p class="text-center">No Rights Reserved - Information is FREE</p>
        </div>
      </div>
    </div>
    <div class="two columns"> </div>
  </footer>

<script type='text/javascript' src='{{ site.url }}/javascripts/foundation.min.js?ver=4.5.3'></script>
<script type='text/javascript' src='{{ site.url }}/javascripts/app.js?1423606192&#038;ver=4.5.3'></script>
<!-- End Footer -->
