<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta charset="UTF-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon"
	href="{{ site.url }}/images/favicon.jpg" />
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<link rel='stylesheet' id='foundation-css'  href='{{ site.url }}/stylesheets/foundation.css?ver=4.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='aude-layout-css'  href='{{ site.url }}/stylesheets/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='foundation-css'  href='{{ site.url }}/stylesheets/syntax.css' type='text/css' media='all' />
<script type='text/javascript' src='{{ site.url }}/javascripts/jquery.js'></script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type='text/javascript' src='{{ site.url }}/javascripts/modernizr.foundation.js?ver=4.5.3'></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
